<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value="FjH7hTxgMzSZ2tfqZqCpoEXw3axPHUZKZXg9zmfVSAJy" />
    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value="4F37jPqp8hfu227Y2XLpYjX6GgsobvHtw551bShs6ycw" />
    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="4F37jPqp8hfu227Y2XLpYjX6DSeY2RVReqE1eXN6cJEZ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--MySQL数据库配置-->
    <!--MySQL数据库配置：主机-->
    <add key="MYSQL_SERVER_NAME" value="localhost"/>
    <!--MySQL数据库配置：数据库名-->
    <add key="MYSQL_DATABASE" value="face-reco"/>
    <!--MySQL数据库配置：数据库账户-->
    <add key="MYSQL_UID" value="root"/>
    <!--MySQL数据库配置：数据库密码-->
    <add key="MYSQL_PASSWORD_NAME" value="zj258025"/>
    <!--SQLServer数据库相关配置-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="Net2Dynetmanage2019Entities" connectionString="metadata=res://*/UserInfoModel.csdl|res://*/UserInfoModel.ssdl|res://*/UserInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.20.10.85;initial catalog=Net2Dynetmanage2019;persist security info=True;user id=sa;password=lq612176();MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>