<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value="FjH7hTxgMzSZ2tfqZqCpoEXw3axPHUZKZXg9zmfVSAJy" />
    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value="4F37jPqp8hfu227Y2XLpYjX6GgsobvHtw551bShs6ycw" />
    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="4F37jPqp8hfu227Y2XLpYjX6DSeY2RVReqE1eXN6cJEZ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>